<footer class="footer">
  <p>本页面使用 <a href="https://gitlab.com/yanwk/antora-ui-default-zh">Antora 默认 UI</a> 构建。</p>
  <p>该 UI 源代码使用 <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL-2.0 许可</a> 。</p>
</footer>
