    {{!-- <link rel="icon" href="{{{uiRootPath}}}/img/favicon.ico" type="image/x-icon"> --}}
    <link rel="icon" type="image/png" href="{{uiRootPath}}/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{uiRootPath}}/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{uiRootPath}}/img/favicons/favicon-256x256.png" sizes="256x256">
